@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Maitree:wght@300&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main h1{
    color: #303030;
    font-family: 'Italianno';
    font-size: 2rem;
    padding-left: 3rem;
    padding-top: 1rem;
}

.articlePanier{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #303030;
    border-radius: 1rem;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);   
    margin-bottom: 2rem;
    margin: 1rem;
    width: 95%;
}

.intitule{
    font-family: 'Amiri';
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
}
.intitule p{
    font-family: 'Maitree';
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.logoSup{
    display: flex;
    align-items: center;
    color: red;
}
.logoSup i{
    font-size: 1.5rem;
}

.viderPanier p{
    width: 8%;
    font-family: 'Amiri';
    font-style: italic;
    color: #303030;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 20px 20px;
}

.validationPanier{
    display: flex;
    flex-direction: row;
    width: 25%;
    padding-left: 2%;
    justify-content: space-between;
    font-family: 'Amiri';
    font-style: italic;
    color: #303030;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 20px 20px;
}

.payerPanier{
    padding-right: 3%;
    padding-left: 3%;
   border-radius: 20px 20px;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}